.item-list {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    overflow-y: auto;

    .without-items {
        text-align: center;
        color: #aaa;
        font-size: 0.9em;
    }

    :last-child { border-bottom: none }
}