.product-list {
    display: flex;
    overflow: hidden;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.5rem;

    .empty {
        font-size: 0.9em;
        color: #ccc;
        padding: 1rem;
    }

    &.frame-card {
        box-shadow: 1px 1px 3px #ccc;
        background-color: white;
    }
    &.frame-border {
        border: 1px solid #ddd;
        background-color: white;
    }
    &.frame-botomless {
        background-color: transparent;
    }

    &.desing-horizontal {
        overflow-x: auto;
        flex-direction: row;        
        .product-card { margin: 0 0.5rem }
    }
    &.desing-vertical {
        overflow-y: auto;
        flex-direction: column;
        .product-card { margin: 0.5rem 0 }
    }
    &.desing-grid {
        background-color: transparent;
    }
}