.buttom-buy {
    margin: 0.5rem;
    padding: 1rem;
    background-color: darkorange;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 3px #aaa;
}