.item-list-container h2 {
    margin: 0;
    padding: 1rem;

    .items-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        padding: 1rem;
    }
}