.button-cart {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -10%);
    background-color: white;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 1px 1px 5px #666;
    width: 90%;
    max-width: 400px;
    background-color: darkorange;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
}