.category-list {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;

    .category-card { margin: 0.5rem }

    &.frame-card {
        box-shadow: 1px 1px 3px #ccc;
        background-color: white;
    }
    &.frame-border {
        border: 1px solid #ddd;
        background-color: white;
    }
    &.frame-botomless {
        background-color: transparent;
    }

    &.desing-horizontal {
        flex-direction: row;        
        overflow-x: auto;
    }
    &.desing-vertical {
        flex-direction: column;
        overflow-y: auto;
    }
    &.desing-grid {
        background-color: transparent;
        flex-wrap: wrap;
    }
}