@import '../../sass/vars';

.product-detail {
    display: flex;
    flex-direction: column;

    .galery {
        flex: 1;
        margin: 0.5rem;
    }

    .info {
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
        padding: 0.5rem;
        border-radius: 5px;

        .title { font-size: 1.5em }
        
        .price {
            font-size: 1.5em;
            color: darkorange;
            margin-bottom: 1.5rem;
        }
        
        .description {
            flex: 1;
            font-size: 0.9em;
            color: #666;
        }
    }
}

@media (min-width: $display-mid-min) {
    .product-detail {
        flex-direction: row;
    
        .galery { width: 70% }
        .info { width: 30% }
    }
}