.checkout-page {
    height: calc(80vh - 5rem);
    padding: 1rem;
    display: grid;
    grid-template-areas:    "list delivery"
                            "list payment"
                            "amount payment"
                            "amount finish";
    grid-template-columns: 60% 40%;
    grid-template-rows: 60% 20% 10% 10%;

    .cart-list { grid-area: list; }

    .cart-delivery { grid-area: delivery; }

    .cart-payment { grid-area: payment; }

    .cart-amounts { grid-area: amount; }

    .button-buy { grid-area: finish; }
}