@import '../../sass/vars';

.checkout-page {
    min-height: calc(80vh - 5rem);
    padding: 1rem;
    display: grid;
    grid-template-areas:    "list delivery"
                            "amount payment";
    grid-template-columns: 60% 40%;
    grid-template-rows: 80% 20%;

    .cart-list { grid-area: list; }

    .cart-delivery { grid-area: delivery; }

    .cart-payment { grid-area: payment; }

    .cart-amounts { grid-area: amount; }

    .buttom-buy {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 90%;
        max-width: 400px;
    }
}

.buy-finish {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 3em;
        margin: 10vh 0;
    }

    button {
        max-width: 300px;
        margin: 0.5rem;
        padding: 1rem;
        background-color: darkorange;
        color: white;
        font-weight: bold;
        font-size: 1.1em;
        border-radius: 5px;
        border: none;
        box-shadow: 1px 1px 3px #aaa;
    }
}

@media (max-width: $display-mid-min + ($app-margin * 2)) {
    .checkout-page {
        display: flex;
        flex-direction: column;

        .buttom-buy {
            bottom: 1rem;
            position: sticky;
            margin: 1rem auto;
            left: auto;
            transform: none;
        }
    }
  }