.product-card {
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 0;

    img {
        width: 80%;
        margin: 10%;
    }

    .title {
        flex: 1;
        color: black;
        width: 90%;
        margin: auto;
        font-size: 1.25em;
        text-align: center;
        padding: 1rem 0;
    }

    .price {
        flex-basis: 1rem;
        width: 100%;
        text-align: center;
        font-size: 1.25em;
        background-color: darkorange;
        color: white;
        padding: 0.5rem 0;
        border-radius: 0 0 5px 5px;
    }
}
.item:hover { box-shadow: 1px 1px 5px #ccc }