@import '../../sass/vars';

.nav-bar {
    margin: 1rem 0;
    background-color: white;
    font-weight: bold;

    ul {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        flex-direction: row;
        overflow-y: auto;

        li {
            flex: 1;
            padding: 0;
            text-align: center;
            min-width: 22%;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin: 0.5rem;
            background-color: transparent;
        
            a {
                text-decoration: none;
                display:inline-block;
                width: calc(100% - 1rem);
                height: calc(100% - 1rem);
                padding: 0.5rem;
                color: black;
            }
        }
        li:hover {
            box-shadow: 1px 1px 5px #999;
            border: 1px solid transparent;
        }
    }
    ul::-webkit-scrollbar { display: none }
}

@media (min-width: $display-mid-min) {
    .nav-bar {
        ul::-webkit-scrollbar {
            height: 5px;
            display: block;
        }
        ul::-webkit-scrollbar-track {
            background-color: transparent;
        }
        ul::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: darkorange;
        }
    }
}