.app-header {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #cccccc50;

    .logo img { height: 5rem }

    .left, .right, .center {
        padding: 0 0.5rem;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
    }

    .left, .right { flex: 25% }

    .left { justify-content: flex-start }

    .right { justify-content: flex-end }

    .center { flex: 50%; }
}
.app-header:hover { box-shadow: 1px 1px 10px #ddd }