.nav-cart {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;

    .controls {
        display: flex;
        flex-direction: row;
    
        .volver, .siguiente {
            border-radius: 0.5rem;
            padding: 1rem;
            margin: 1rem;
            font-weight: bold;
            font-size: 1em;
        }
    
        .volver {
            flex: 1;
            border: 1px solid #ccc;
            background-color: #eee;
        }
    
        .siguiente {
            flex: 2;
            border: none;
            box-shadow: 1px 1px 5px #aaa;
            color: white;
            background-color: darkorange;
        }
    }

    .message {
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin: 1rem;
        font-weight: bold;
        font-size: 0.9em;
        box-shadow: 1px 1px 5px #999;
    }
}