.nav-cart {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    .routes {
        display: flex;
        flex-direction: row;
        border-radius: 5rem;
        border: 1px solid #ccc;

        > * {
            text-align: center;
            flex: 1;
            padding: 1rem;
            text-decoration: none;
            color: black;

            &.selected {
                border-radius: 0 5rem 5rem 0;
                background-color: darkorange;
                color: white;
            }

            &.active {
                background-color: darkorange;
                color: white;
            }
        }

        :first-child {
            border-top-left-radius: 5rem;
            border-bottom-left-radius: 5rem;
        }
    }
}