.window-login {
    .section {
        display: flex;
        flex-direction: column;

        h3 { text-align: center; }
    }

    .message {
        text-align: center;
        width: 90%;
        max-width: 400px;
        position: absolute;
        bottom: 0;
        border-radius: 0.5rem;
        padding: 1rem;
        margin: 1rem;
        font-weight: bold;
        font-size: 0.9em;
        box-shadow: 1px 1px 5px #999;
    }
    
    .button-primary {
        width: 100%;
        margin: 0.2rem 0;
        padding: 0.5rem;
        font-size: 1em;
        color: white;
        border: none;
        border-radius: 3px;
        font-weight: bold;
        background-color: darkorange;
        box-shadow: 1px 1px 5px #ccc;
        margin: 1rem 0;
    }
    
    .button-secondary {
        text-decoration: none;
        text-align: center;
        box-sizing: border-box;
        width: 100%;
        margin: 0.2rem 0;
        padding: 0.5rem;
        font-size: 0.9em;
        color: black;
        border: none;
        border-radius: 3px;
        background-color: transparent;
        border: 1px solid #ccc;
    }
    
    .button-terceary {
        border: none;
        background-color: transparent;
        margin: 0.5rem;
        text-decoration: none;
        font-size: 0.9em;
    }
    
    .button-google {
        margin: 0.2rem 0;
        margin-top: 2rem;
        padding: 0.5rem;
        font-size: 1em;
        color: white;
        border-radius: 3px;
        font-weight: bold;
        border: none;
        box-shadow: 1px 1px 3px #ccc;
        background-color: #ea4335;
    }
}